@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

footer {
  margin-top: auto;
}

@layer components {
  .fix-height {
    min-height: calc(100vh - 200px);
  }
}
.overflow-height {
  height: calc(100vh - 150px);
}

button:disabled {
  cursor: not-allowed;
}
